<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="row my-5">
    <div class="offset-3 col-md-6 col-lg-6">
        <h2>Doctors</h2>
    </div>
</div>
<div class="row my-5">
    <div class="offset-3 col-md-6 col-lg-6">
        <a th:href="@{/addNewDoctor}" class="btn btn-primary btn-sm mb-3">New doctor</a>
        <table class="table table-hover">
            <thead>
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Specialty</th>
                <th scope="col">Experience (years)</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="doctor: ${doctors}">
                <td th:text="${doctor.docid}"></td>
                <td th:text="${doctor.name}"></td>
                <td th:text="${doctor.specialty}"></td>
                <td th:text="${doctor.exp_years}"></td>
                <td>
                    <a th:href="@{'/editDoctor/' + ${doctor.docid} }" class="btn btn-primary btn-sm mb-3">Edit</a>
                    <!--                <a th:href="@{'/deleteDoc/' + ${doctor.docID} }" class="btn btn-secondary btn-sm mb-3">Delete</a>-->
                </td>
            </tr>
            <tr>
<!--                <td>-->
<!--                    <a th:if="${page} > 1" th:href="@{'/doctors/' + ${page - 1}}">Previous page</a>-->
<!--                    <a th:href="@{'/doctors/' + ${page + 1}}">Next page</a>-->
<!--                </td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>

